body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
input[type='text'].login-input {
  background-color: #1d1d1d;
  color: #fb98ad;
  border: 1px solid #1d1d1d;
}

input[type='text'].login-input:focus {
  background-color: #0c0c0c;
  color: #f8567b;
  border: 1px solid #0c0c0c;
  box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 4%);
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #f8567b;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.was-validated .form-control:valid,
.was-validated .form-control:valid:focus {
  border: none !important;
  box-shadow: none;
}

.text-pink {
  color: #f8567b !important;
}

.text-light {
  color: #fafafa !important;
}

.btn-light {
  color: #f8567b !important;
}

.btn-light:hover {
  color: #f8567b !important;
}

.bg-gradient-pink {
    background: rgb(248,86,123);
    background: linear-gradient(53deg, rgba(248,86,123,1) 0%, rgba(246,118,147,1) 100%);
}
